<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLiteDialect</property>
    <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
    <property name="hibernate.connection.url">jdbc:sqlite:./teste.sqlite</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.hbm2ddl.auto">create</property>
    
    <mapping class="br.com.professordanilo.quizapp.entity.Event"/>
    <mapping class="br.com.professordanilo.quizapp.entity.Fight"/>
    <mapping class="br.com.professordanilo.quizapp.entity.Player"/>
    <mapping class="br.com.professordanilo.quizapp.entity.Question"/>
    
  </session-factory>
</hibernate-configuration>
